.hero {
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color:#E5F3F2;
}

.hero-title {
  margin: auto;
  margin-top: 5%;
  font-size: 3em;
}

.green-h1 {
  color: #00A79D;
}

.grey-h1 {
  color: #6D6E71;
}

.title-input, .body-input {
  width: 60%;
  margin: auto;
  height: 10%;
  font-size: 100%;
}

.save {
  background: #00A79D;
  color: #FFFFFF;
  width: 60%;
  margin: auto;
  height: 15%;
  font-size: 110%;
  margin-bottom: 5%;
};

button:hover{
  background: #045E55;
}

.idea-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.idea-card {
  display
  height: 20%;
  border: 10px solid black;

}
.idea-card h2 {
  font-size: 3em;
}

h2 {
  color: #6D6E71
}

p {
  color: #939598
}

.idea-quality {
  color: #6D6E71
}

.remove-idea {
  background: url(../images/delete.svg) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

.remove-idea:hover {
  background: url(../images/delete-hover.svg) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

.upvote {
  background: url(../images/upvote.svg) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

.upvote:hover {
  background: url(../images/upvote-hover.svg) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

.downvote {
  background: url(../images/downvote.svg) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

.downvote:hover {
  background: url(../images/downvote-hover.svg) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}
